*{
    text-decoration: none;
}

a {
    text-decoration: none;
}

.container {
    background-color: rgba(129, 187, 201, 0.199);
    margin-top: 1rem;
    border-radius: 3px;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 
}
.principal-tittle {
    text-align: center; 
}

.upper-text {
padding-top: 1rem;
color: aliceblue;
}

.apresentation {
    text-align: center;
    font-weight: lighter;
}
.comment {
    text-align: right;
    font-weight: lighter;
    color: black;
}

.rounded {
    width: 18rem;
    height: 10rem;
}
.text-center {
    max-width: 45rem;
    align-items: center;
    margin-inline: auto;
    margin-top: 1rem;
}

.cqmminitial h6 {
text-align: center;
font-size: 1.6rem;
font-weight: 100;
color: rgb(255, 255, 255);
text-shadow: black 2px 2px 2px;
border-radius: 3rem;
padding: 0.5rem;
}

.cqmm {
    max-width: 8rem;
    border-radius: 3rem;
    margin-inline: auto;
    display: flex;
}
.materia1 {
max-width: 35rem;
margin-inline: auto;
}

.materia2 {
    max-width: 35rem;
    margin-inline: auto;
    }

.prof {
    color: rgb(255, 255, 255);
    text-shadow: black 2px 2px 2px;
   
    max-width: 14rem;
    text-align: center;
    margin-top: 4px;
    border-radius: 2rem;
    margin-inline: auto;
}
.profa {
    color: rgb(241, 66, 95);
    text-shadow: rgb(0, 0, 0) 1px 1px 1px;
   max-width: 13rem;
   text-align: center;
   margin-top: 4px;
   border-radius: 2rem;
   margin-inline: auto;
}

.profa:hover {
    background-color: rgba(240, 248, 255, 0.384);
}

.prof:hover {
    background-color: rgba(240, 248, 255, 0.384);
}

.prof a {
    color: rgba(1, 1, 146, 0.534);
}
.profa a {
    color: rgb(247, 130, 149);
}

.return, .return a {
    border: none;
    font-weight: bold;
    color: brown;
    background-color: rgba(187, 220, 248, 0);
}


footer {
    text-align: center;
    margin-top: 1rem;
    background-color: rgba(178, 228, 228, 0.603);
    color: rgba(0, 0, 0, 0.582);
}

header {
    background-image:url(study.jpg);
    background-position: -4rem, 0rem, 1rem;
    color: rgb(255, 255, 255);
    text-shadow: rgb(0, 0, 0) 2px 2px 2px;
    font-weight: bold;
}
 main {
    background-image: linear-gradient(rgba(87, 135, 177, 0.849),rgba(138, 193, 241, 0.801), rgb(209, 233, 253), rgba(255, 255, 255, 0.692),rgba(138, 193, 241, 0.801));
    max-width: 71rem;
    margin-inline: auto;
    
 }