*{
    text-decoration: none;
}

a {
    text-decoration: none;
}

.container {
    background-color: rgba(129, 187, 201, 0.199);
    margin-top: 1rem;
    border-radius: 3px;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 
}
.principal-tittle {
    text-align: center; 
}

.sub-tittle{
    text-align: center;  
    color: rgb(255, 255, 255);
text-shadow: black 2px 2px 2px;
}

.upper-text {
padding-top: 1rem;
color: aliceblue;
}

.apresentation {
    text-align: center;
    font-weight: lighter;
}
.comment {
    text-align: right;
    font-weight: lighter;
    color: black;
}

.rounded {
    width: 18rem;
    height: 10rem;
}
.text-center {
    max-width: 45rem;
    align-items: center;
    margin-inline: auto;
    margin-top: 1rem;
}

.cqmminitial h6 {
text-align: center;
font-size: 1.6rem;
font-weight: 100;
color: rgb(255, 255, 255);
text-shadow: black 2px 2px 2px;
border-radius: 3rem;
padding: 0.5rem;
}

.cqmm {
    max-width: 8rem;
    border-radius: 3rem;
    margin-inline: auto;
    display: flex;
}
.materia1 {
max-width: 35rem;
margin-inline: auto;
}

.materia2 {
    max-width: 35rem;
    margin-inline: auto;
    }

.card a {
color: black;

}

.card a:hover {
    color: rgb(60, 131, 179);
   
}

.btn {
    background-color: aliceblue;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 0.5rem;
}

.btn:hover {
    background-color: azure;
    color: black;
}

.return, .return a {
    border: none;
    font-weight: bold;
    color: rgb(74, 123, 197);
    background-color: rgba(187, 220, 248, 0);
}


footer {
    text-align: center;
    margin-top: 1rem;
    background-color: rgba(235, 255, 255, 0.603);
    color: rgba(0, 0, 0, 0.582);
}

header {
    background-image:url(study.jpg);
    background-position: -4rem, 0rem, 1rem;
    color: rgb(255, 255, 255);
    text-shadow: rgb(0, 0, 0) 2px 2px 2px;
    font-weight: bold;
}
 main {
    background-image: linear-gradient(rgba(87, 135, 177, 0.849),rgba(138, 193, 241, 0.801), rgb(209, 233, 253), rgba(255, 255, 255, 0.692),rgba(138, 193, 241, 0.801));
    max-width: 71rem;

    margin-inline: auto;
    
 }

